@model List<Brand>
@{
    ViewData["Title"] = "Markalar";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Marka</th>

        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.BrandName</td>
            <td><a asp-action="DeleteBrand" asp-route-id="@item.BrandId" class="btn btn-danger">Sil</a> </td>
            <td><a asp-action="UpdateBrand" asp-route-id="@item.BrandId" class="btn btn-info">Güncelle</a> </td>
        </tr>
    }
</table>

<a asp-action="CreateBrand" asp-controller="AdminBrand" class="btn btn-primary">Yeni Marka Ekle</a>