@model List<ResultTestimonialDto>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int sayac = 0;
}

<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Müşteri<span class="text-primary"> Yorumları</span></h1>
            <p class="mb-0">
                Binlerce müşterimiz yaşadıkları kiralama deneyimleriyle memnuniyetlerini dile getiriyor.
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">

            @foreach (var item in Model)
            {

                <div class="testimonial-item">
                    <div class="testimonial-quote">
                        <i class="fa fa-quote-right fa-2x"></i>
                    </div>
                    <div class="testimonial-inner p-4">
                        <img src="@item.ImageUrl" class="img-fluid" alt="">
                        <div class="ms-4">
                            <h4>@item.Name</h4>
                            <p>@item.Title</p>
                            <div class="d-flex text-primary">

                                @while (sayac==item.Review){
                                    <i class="fas fa-star"></i>
                                    sayac++;
                                }
                               
                              
                            </div>
                        </div>
                    </div>
                    <div class="border-top rounded-bottom p-4">
                        <p class="mb-0">@item.Comment</p>
                    </div>
                </div>
                
            }
          
           
        </div>
    </div>
</div>