@model List<ResultBannerDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach (var item in Model){
<div class="container-fluid banner pb-5 wow zoomInDown" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="banner-item rounded">
            <img src="@item.ImageUrl" class="img-fluid rounded w-100" alt="">
            <div class="banner-content">
                <h2 class="text-primary">Araç Kiralama</h2>
                    <h1 class="text-white">@item.Title</h1>
                    <p class="text-white">@item.Description</p>
                <div class="banner-btn">
                    <a href="#" class="btn btn-secondary rounded-pill py-3 px-4 px-md-5 me-2">WhatsApp</a>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2">Bize Ulaşın</a>
                </div>
            </div>
        </div>
    </div>
</div>
}