@model CreateSocialDto
@{
    ViewData["Title"] = "CreateSocial";
    Layout = "~/Areas/Manager/Views/ManagerLayout/Index.cshtml";
}

<form method="post">
    <label>Sosyal Medya Adı</label>
    <input type="text" asp-for="Title" class="form-control"/>
    <label>İkon</label>
    <input type="text" asp-for="Icon" class="form-control" />

    <label>URL</label>
    <input type="text" asp-for="Url" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>

</form>

