
@model List<ResultRoleDto>
@{
    ViewData["Title"] = "Roller";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}



@{
    int count = 0;
}

<div class="alert alert-info">
    <h5>Sitenin işleyişi açısından rol isimleri şu şekilde olmalıdır <strong>Admin,Manager,User</strong></h5>
</div>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rol</th>

        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td><a asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a> </td>
            <td><a asp-action="UpdateRole" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pen"></i></a> </td>
        </tr>
    }
</table>

<a asp-action="CreateRole" asp-controller="Role" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>